<h2 class="text-info">Szczegółowe dane pracownika</h2>
<hr/>

<div class="container" *ngIf="employee">
  <div class="row">
    <div class="col-sm">
      <div style="height: 200px; width: 200px">
        <div class="container row">
          <ng-container *ngIf="retrievedImage; else elseTemplate">
            <img class="img-thumbnail rounded" [src]="retrievedImage">
          </ng-container>
          <ng-template #elseTemplate>
            <img class="img-thumbnail rounded" src="../assets/img/placeholder.jpg">
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h5>Dane osobowe:</h5>
      <div>
        <label><b>Imię: </b></label> {{employee.firstName}}
      </div>
      <div>
        <label><b>Nazwisko: </b></label> {{employee.lastName}}
      </div>
      <div>
        <label><b>Email: </b></label> {{employee.email}}
      </div>
      <div>
        <label><b>PESEL: </b></label> {{employee.pesel}}
      </div>
      <div>
        <label><b>Płeć: </b></label> {{employee.sex}}
      </div>
      <div>
        <label><b>Data urodzenia: </b></label> {{employee.birthDate | date: 'dd-MM-yyyy'}}
      </div>
    </div>
    <div class="col-sm">
      <h5>Adres zamieszkania</h5>
      <div>
        <div>
          <label><b>Ulica: </b></label> {{employee.address.street}}
          , <label><b>Numer: </b></label> {{employee.address.streetNumber}}
        </div>
        <div>
          <label><b>Miasto: </b></label> {{employee.address.city}}
        </div>
        <div>
          <label><b>Kraj pochodzenia: </b></label> {{employee.address.country}}
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h5>Dane kadrowe</h5>
      <div>
<!--        <label><b>Dział: </b></label> {{employee..long_name}}-->
      </div>
    </div>


  </div>

  <button (click)="employeeList()" class="btn btn-outline-primary">Wróć</button>
  <button (click)="employeeUpdate(employee.id)" class="btn btn-outline-warning" style="margin-left: 10px">Aktualizuj</button>

</div>
<br>
<br>

