<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">SWHR</span>
  </nav>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employeesList" class="nav-link" routerLinkActive="active">Lista pracowników</a>
    </li>
    <li class="nav-item">
      <a routerLink="employeeAdd" class="nav-link" routerLinkActive="active">Dodaj pracownika</a>
    </li>
    <li class="navbar-item dropdown">
      <a class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administracja
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="departmentList" routerLinkActive="active">Komórki organizacyjne</a>
        <a class="dropdown-item" routerLink="departmentAdd" routerLinkActive="active">Dodaj komórkę organizacyjną</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="permissionLevel" routerLinkActive="active">Komórki organizacyjne</a>
        <a class="dropdown-item" routerLink="permissionLevelAdd" routerLinkActive="active">Dodaj komórkę organizacyjną</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


