<h2 class="text-info">Kreator pracownika / funkcjonariusza</h2>
<hr/>

<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon">Wczytaj</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon"
                   (change)="onFileChange($event)">
            <label class="custom-file-label" for="inputGroupFile">Wybierz zdjęcie</label>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Imię</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors}"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Pole wymagane</div>
            <div *ngIf="f.firstName.errors.minlength">Wprowadzona wartość jest za krótka</div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Nazwisko</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors}"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Pole wymagane</div>
            <div *ngIf="f.lastName.errors.minlength">Wprowadzona wartość jest za krótka</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label>PESEL</label>
          <input type="text" class="form-control" id="pesel" formControlName="pesel"
                 [ngClass]="{ 'is-invalid': submitted && f.pesel.errors}"/>
          <div *ngIf="submitted && f.pesel.errors" class="invalid-feedback">
            <div *ngIf="f.pesel.errors.required">Pole wymagane</div>
            <div *ngIf="f.pesel.errors.pattern">Wprowadź poprawny numer PESEL</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="sex">Płeć</label>
          <select class="form-control" name="sex" id="sex" formControlName="sex"
                  [ngClass]="{ 'is-invalid': submitted && f.sex.errors}">
            <option *ngFor="let sex of sexs" [value]="sex">{{sex}}</option>
          </select>
          <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
            <div *ngIf="f.sex.errors.required">Pole wymagane</div>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="nazwa@sw.gov.pl"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors}"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Pole wymagane</div>
            <div *ngIf="f.email.errors.email">Musisz wprowadzić poprawny adres</div>
          </div>
        </div>


        <div class="form-group col-md-6">
          <label>Data urodzenia</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors}"/>
          <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
            <div *ngIf="f.dateOfBirth.errors.required">Pole wymagane</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Ulica</label>
          <input type="text" class="form-control" id="street" formControlName="street"
                 [ngClass]="{ 'is-invalid': submitted && f.street.errors}"/>
          <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
            <div *ngIf="f.street.errors.required">Pole wymagane</div>
            <div *ngIf="f.street.errors.minlength">Wprowadzona wartość jest za krótka</div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label>Numer:</label>
          <input type="text" class="form-control" id="streetNumber" formControlName="streetNumber"
                 [ngClass]="{ 'is-invalid': submitted && f.streetNumber.errors}"/>
          <div *ngIf="submitted && f.streetNumber.errors" class="invalid-feedback">
            <div *ngIf="f.streetNumber.errors.required">Pole wymagane</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label>Miasto</label>
          <input type="text" class="form-control" id="city" formControlName="city"
                 [ngClass]="{ 'is-invalid': submitted && f.city.errors}"/>
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">Pole wymagane</div>
            <div *ngIf="f.city.errors.minlength">Wprowadzona wartość jest za krótka</div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label for="sex">Narodowość</label>
          <select class="form-control" name="country" id="country" formControlName="country"
                  [ngClass]="{ 'is-invalid': submitted && f.country.errors}">
            <option *ngFor="let country of countrys" [value]="country">{{country}}</option>
          </select>
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">Pole wymagane</div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div style="margin-bottom: 10px">
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <button type="reset" (click)="onReset()" class="btn btn-secondary" style="margin-left: 10px">Anuluj</button>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="submitted && !errors && imgAdded">
        <h4 class="alert-heading">Gratulacje !!</h4>
        <p>Poprawny zapis, <a (click)="gotoList()">wróć do listy</a>. Dziękuję ;)</p>
        <hr/>
        <button class="btn btn-outline-secondary" type="button" (click)="gotoList()">Powrót</button>
      </div>
    </div>
  </form>
</div>


