<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="text-info">Komórek organizacyjnych</h2>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Skót</th>
        <th scope="col">Pełna nazwa</th>
        <th scope="col">Opis</th>
        <th scope="col">Akcja</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let department of departmentsPaging$">
        <td>{{department.shortName}}</td>
        <td>{{department.longName}}</td>
        <td>{{department.description}}</td>
        <td>
          <button (click)="departmentDetails(department.id)" class="btn btn-outline-primary" style="margin-left: 10px">
            Szczegóły
          </button>
          <button (click)="departmentUpdate(department.id)" class="btn btn-outline-warning" style="margin-left: 10px">
            Aktualizuj
          </button>

          <button class="btn btn-outline-danger" style="margin-left: 10px"
                  mwlConfirmationPopover
                  [popoverTitle]="'Potwierdzenie usunięcia'"
                  [popoverMessage]="'Czy na pewno?'"
                  placement="left"
                  (confirm)="departmentDelete(department.id) && reloadData()"
                  (cancel)="reloadData()">
            Skasuj
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <!--        <li class="page-item disabled">-->
        <!--          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Poprzedni</a>-->
        <!--        </li>-->
        <li class="page-item" *ngFor="let page of pages; let i = index">
          <a class="page-link" href="" (click)="setPage(i,$event)" [ngClass]="{'active': i==page}">{{i + 1}}</a>
        </li>
        <!--        <li class="page-item">-->
        <!--          <a class="page-link" href="" tabindex="+1">Następny</a>-->
        <!--        </li>-->
      </ul>
    </nav>

  </div>
</div>
